<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="">
                <li class="list-group-item">
                    Application
                    <label class="checkbox">
                        <input type="checkbox" ng-model="policy.aplication"/>
                        <span class="success"></span>
                    </label>
                </li>
                <li class="list-group-item">
                    Phone Number
                    <label class="checkbox">
                        <input type="checkbox" ng-model="policy.phoneNumber"/>
                        <span class="success"></span>
                    </label>
                </li>
                <li class="list-group-item">
                    Driver License
                    <label class="checkbox">
                        <input type="checkbox" ng-model="policy.driverLicense"/>
                        <span class="success"></span>
                    </label>
                </li>
                <li class="list-group-item">
                    Registration
                    <label class="checkbox">
                        <input type="checkbox" ng-model="policy.registration" />
                        <span class="success"></span>
                    </label>
                </li>
                <li class="list-group-item">
                    Pictures
                    <label class="checkbox">
                        <input type="checkbox" ng-model="policy.pictures"/>
                        <span class="success"></span>
                    </label>
                </li> 
            </ul>      
        </div>
        <div class="col-md-4">
            <ul>
                <li class="list-group-item">
                    Proof Of Prior
                    <label class="checkbox">
                        <input type="checkbox" ng-model="policy.proofop"/>
                        <span class="success"></span>
                    </label>
                </li>
                <li class="list-group-item">
                    ADC Singed
                    <label class="checkbox">
                        <input type="checkbox" ng-model="policy.adcsinged"/>
                        <span class="success"></span>
                    </label>
                </li>
                <li class="list-group-item">
                    Bank Information
                    <label class="checkbox">
                        <input type="checkbox" ng-model="policy.bank_info"/>
                        <span class="success"></span>
                    </label>
                </li>
                <li class="list-group-item">
                    Email
                    <label class="checkbox">
                        <input type="checkbox" ng-model="policy.email_info"/>
                        <span class="success"></span>
                    </label>
                </li>

                <li class="list-group-item">
                    <input type="submit" class="btn btn-primary" ng-click="Update_policy()"/> 
                </li> 
            </ul>
        </div>
    </div>
</div>